.Footer{
    background-color: #202026;
    padding:40px;
    color: aliceblue;
    font-size: large;
}

.icons{
    display: inline-block;
    text-align: center;
    background-color: #515158;
    padding: 7px;
    width: 40px;
    border-radius: 2px;
    margin-right: 5px;
}